.home-page .background-default {
  z-index: -1;
}

.connect-wallet .error-message {
  font-family: var(--font-kanit);
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars {
  background: #000
    url('http://www.script-tutorials.com/demos/360/images/stars.png') repeat top
    center;
  z-index: 0;
}

.twinkling {
  background: transparent
    url('http://www.script-tutorials.com/demos/360/images/twinkling.png') repeat
    top center;
  z-index: 1;

  animation: move-twink-back 200s linear infinite;
}

.detect-network {
  font-family: var(--font-kanit);
}
